.wc-block-cart-line-items {
	list-style: none;
	margin-top: 0;
	padding: 0;
}

.wc-block-cart-item__remove-link .wp-element-button {
	background: initial;
	color: initial;
	text-decoration: underline;
	font-weight: initial;
	padding: 0;
	font-size: .75em;
}